*DS_Store
.vs/
.vscode/
.idea/

# jwt file
jwt.hex

# .env file
.env

# Caddy
caddy/config/*
!caddy/config/.gitkeep
caddy/data/*
!caddy/data/.gitkeep

# Prysm
prysm/*
!prysm/beacon-config.yaml

# Geth
geth/*
!geth/.gitkeep
