{$HOST} {
        basicauth /* {
                {$BASIC_AUTH_USERS}
        }
        reverse_proxy executionnode:8545
}

{$HOST}:9100 {
        basicauth /* {
                {$BASIC_AUTH_USERS}
        }
        reverse_proxy nodeexporter:9100
}

{$HOST}:9101 {
        basicauth /* {
                {$BASIC_AUTH_USERS}
        }
        reverse_proxy executionnode:8545
}

{$HOST}:9102 {
        basicauth /* {
                {$BASIC_AUTH_USERS}
        }
        reverse_proxy beaconnode:8080
}