{$HOST} {

        basicauth /* {
                {$BASIC_AUTH_USERS}
        }

        handle /beaconnode/metrics {
                rewrite /beaconnode/metrics /metrics
                reverse_proxy beaconnode:8080
        }

        handle /executionnode/metrics* {
                uri replace /executionnode/metrics /debug/metrics
                reverse_proxy executionnode:6060
        }

        reverse_proxy executionnode:8545
}